@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap&text=%21%22%23%24%25%26%27%28%29%2A%2B%2C-.%2F0123456789%3A%3B%3C%3D%3E%3F%40ABCDEFGHIJKLMNOPQRSTUVWXYZ%5B%5C%5D%5E_%60abcdefghijklmnopqrstuvwxyz%7B%7C%7D%7E');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import "tailwindcss";

@plugin "@iconify/tailwind4";
@plugin "@tailwindcss/typography";
@plugin "@obukata/tailwind-typography-ckeditor";
@plugin "@obukata/tailwind-plugin-utility";

@theme {
  --font-sans: "Inter", "Noto Sans JP", sans-serif;
  --color-pdf: #b30c00;
  --color-excel: #117e43;
  --color-word: #1c58bd;
  --text-10ptr: calc(10 / 16 * 1rem);
  --text-11ptr: calc(11 / 16 * 1rem);
  --text-12ptr: calc(12 / 16 * 1rem);
  --text-13ptr: calc(13 / 16 * 1rem);
  --text-14ptr: calc(14 / 16 * 1rem);
  --text-15ptr: calc(15 / 16 * 1rem);
  --text-16ptr: calc(16 / 16 * 1rem);
  --text-17ptr: calc(17 / 16 * 1rem);
  --text-18ptr: calc(18 / 16 * 1rem);
  --text-19ptr: calc(19 / 16 * 1rem);
  --text-20ptr: calc(20 / 16 * 1rem);
  --text-21ptr: calc(21 / 16 * 1rem);
  --text-22ptr: calc(22 / 16 * 1rem);
  --text-23ptr: calc(23 / 16 * 1rem);
  --text-24ptr: calc(24 / 16 * 1rem);
  --text-25ptr: calc(25 / 16 * 1rem);
  --text-26ptr: calc(26 / 16 * 1rem);
  --text-27ptr: calc(27 / 16 * 1rem);
  --text-28ptr: calc(28 / 16 * 1rem);
  --text-29ptr: calc(29 / 16 * 1rem);
  --text-30ptr: calc(30 / 16 * 1rem);
  --text-31ptr: calc(31 / 16 * 1rem);
  --text-32ptr: calc(32 / 16 * 1rem);
  --text-33ptr: calc(33 / 16 * 1rem);
  --text-34ptr: calc(34 / 16 * 1rem);
  --text-35ptr: calc(35 / 16 * 1rem);
  --text-36ptr: calc(36 / 16 * 1rem);
  --text-37ptr: calc(37 / 16 * 1rem);
  --text-38ptr: calc(38 / 16 * 1rem);
  --text-39ptr: calc(39 / 16 * 1rem);
  --text-40ptr: calc(40 / 16 * 1rem);
  --text-41ptr: calc(41 / 16 * 1rem);
  --text-42ptr: calc(42 / 16 * 1rem);
  --text-43ptr: calc(43 / 16 * 1rem);
  --text-44ptr: calc(44 / 16 * 1rem);
  --text-45ptr: calc(45 / 16 * 1rem);
  --text-46ptr: calc(46 / 16 * 1rem);
  --text-47ptr: calc(47 / 16 * 1rem);
  --text-48ptr: calc(48 / 16 * 1rem);
  --text-49ptr: calc(49 / 16 * 1rem);
  --text-50ptr: calc(50 / 16 * 1rem);
  --text-51ptr: calc(51 / 16 * 1rem);
  --text-52ptr: calc(52 / 16 * 1rem);
  --text-53ptr: calc(53 / 16 * 1rem);
  --text-54ptr: calc(54 / 16 * 1rem);
  --text-55ptr: calc(55 / 16 * 1rem);
  --text-56ptr: calc(56 / 16 * 1rem);
  --text-57ptr: calc(57 / 16 * 1rem);
  --text-58ptr: calc(58 / 16 * 1rem);
  --text-59ptr: calc(59 / 16 * 1rem);
  --text-60ptr: calc(60 / 16 * 1rem);
  --text-61ptr: calc(61 / 16 * 1rem);
  --text-62ptr: calc(62 / 16 * 1rem);
  --text-63ptr: calc(63 / 16 * 1rem);
  --text-64ptr: calc(64 / 16 * 1rem);
  --text-65ptr: calc(65 / 16 * 1rem);
  --text-66ptr: calc(66 / 16 * 1rem);
  --text-67ptr: calc(67 / 16 * 1rem);
  --text-68ptr: calc(68 / 16 * 1rem);
  --text-69ptr: calc(69 / 16 * 1rem);
}
